// ===============
// colors palette
// ===============
:root {
	// Background colors (Фонові кольори): =================================================================
	--bg-primary: #fff; // BG primary background color - (Основний фоновий колір сайту)
	--bg-accent: #000; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	--bg-inverse: #fff; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.
	--bg-grey: #f0f0f0;
	// Text colors (Текстові кольори): =================================================================
	--text-primary: #00000099; // Text primary text color - (Основний текстовий колір сайту)
	--text-accent: #000; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-inverse: #fff;
}
