.menu {
	@media (min-width: $mobile) {
		z-index: 1;
	}
	@media (max-width: $mobile) {
		position: fixed;
		width: 100%;
		height: 100%;
		left: -100%;
		top: 0;
		overflow: auto;
		padding: calc(toRem(68) + var(--header-banner-height)) toRem(15) toRem(30);
		transition:
			left 0.3s,
			padding-top 0.4s;
		background-color: var(--bg-primary);
		.menu-open & {
			left: 0;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		column-gap: toRem(24);
		row-gap: toRem(7);
		flex-wrap: wrap;
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
			row-gap: toRem(15);
		}
	}
	// .menu__item
	&__item {
		position: relative;
		@media (min-width: $mobile) {
			&:has(.menu__link:focus-visible, .menu__sub-link:focus-visible) {
				.menu__wrapper {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 0);
				}
				.menu__button {
					&::before {
						transform: rotate(-45deg);
					}
					&::after {
						transform: rotate(45deg);
					}
				}
			}
		}
		@media (min-width: $mobile) {
			&.--open {
				.menu__wrapper {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 0);
				}
				.menu__button {
					&::before {
						transform: rotate(-45deg);
					}
					&::after {
						transform: rotate(45deg);
					}
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				.menu__button {
					&::before {
						transform: rotate(-45deg);
					}
					&::after {
						transform: rotate(45deg);
					}
				}

				.menu__wrapper {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 0);
				}
			}
		}
		@media (max-width: $mobile) {
		}
	}

	// .menu__link
	&__link,
	&__sub-link {
		color: var(--text-accent);
		position: relative;
		line-height: 1.2;
		text-transform: capitalize;
		outline: toRem(2) solid transparent;
		outline-offset: toRem(2);
		border-radius: toRem(2);
		transition: outline-color 0.3s;
		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: toRem(1);
			bottom: 0;
			left: 0;
			background-color: var(--bg-accent);
			transition: width 0.3s;
			border-radius: toRem(5);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}

		@media (max-width: $mobile) {
			font-size: toRem(22);
		}
	}

	&__link {
		&:focus-visible {
			outline-color: var(--bg-accent);
		}
	}
	&__sub-link {
		&:focus-visible {
			outline-color: var(--bg-inverse);
		}
	}

	&__sub-link {
	}

	&__wrapper {
		@media (min-width: $mobile) {
			position: absolute;
			padding-top: toRem(5);
			top: 100%;
			left: 0;
			width: auto;
			min-width: toRem(130);
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			transform: translate(5%, 0);
			transition: all 0.3s;
			z-index: 2;
		}
		@media (max-width: $mobile) {
			min-width: toRem(150);
			padding-top: toRem(10);
		}
	}
	// .menu__sub-list
	&__sub-list {
		background-color: var(--bg-accent);
		border-radius: toRem(8);
		padding: toRem(15);
	}
	// .menu__sub-item
	&__sub-item {
		&:not(:last-child) {
			margin-bottom: toRem(7);
			@media (max-width: $mobile) {
				margin-bottom: toRem(12);
			}
		}
	}
	// .menu__sub-link
	&__sub-link {
		color: var(--text-inverse);
		&::before {
			background-color: var(--bg-inverse);
		}
	}
	&__title {
		display: flex;
		align-items: center;
		column-gap: toRem(4);
		a {
			@media (min-width: $tablet) {
				html:not(.touch) & {
					z-index: 1;
					margin-right: toRem(-20);
					padding-right: toRem(20);
				}
			}

			&::before {
				display: none;
			}
		}

		@media (max-width: $mobile) {
			&.--open {
				.menu__button {
					&::before {
						transform: rotate(-45deg);
					}
					&::after {
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	&__button {
		position: relative;
		width: toRem(16);
		height: toRem(16);
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: toRem(7);
			background-color: var(--bg-accent);
			border-radius: toRem(5);
			height: toRem(1);
			transform: translate(0, -50%);
			transition: transform 0.3s;
			will-change: transform;
		}
		&::before {
			left: toRem(2.5);
			transform: rotate(45deg);
		}
		&::after {
			right: toRem(2);
			transform: rotate(-45deg);
		}
		@media (max-width: $mobile) {
			transition-duration: 0.4s;
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(19);
		height: toRem(15);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: var(--bg-accent);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&::before,
		&::after {
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
