//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: toRem(16) toRem(30);
	color: var(--text-inverse);
	font-weight: 500;
	border-radius: toRem(62);
	background-color: var(--bg-accent);
	text-transform: capitalize;
	transition:
		background-color 0.3s,
		outline-color 0.3s;
	line-height: 1.3;
	text-align: center;
	justify-content: center;
	outline-offset: toRem(3);
	outline: toRem(2) solid transparent;
	&:focus-visible {
		outline-color: var(--bg-accent);
	}
	@media (any-hover: hover) {
		&:hover {
			@media (any-hover: hover) {
				&:hover {
					background-color: #022bc0;
				}
			}
		}
	}

	&--fw {
		@media (max-width: toEm(560)) {
			width: 100%;
		}
	}
}
