//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	width: toRem(170);
	height: toRem(52);
	display: flex;
	background-color: #f0f0f0;
	border-radius: toRem(62);
	// .quantity__button
	&__button {
		flex: 0 0 toRem(63);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		font-size: toRem(19);
		color: var(--text-accent);
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #d1d1d1;
			}
		}
		// .quantity__button_plus
		&--plus {
			border-radius: 0 toRem(62) toRem(62) 0;
		}
		// .quantity__button_minus
		&--minus {
			border-radius: toRem(62) 0 0 toRem(62);
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			width: 100%;
			text-align: center;
			color: var(--text-accent);
			font-weight: 500;
		}
	}
}
