/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	touch-action: none;
	user-select: none;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
}
.noUi-base {
	// * Вот тут нужно убрать width: 100%; Если не хотим чтобы range растягивался больше чем нужно
	position: relative;
	height: 100%;
	z-index: 1;
	padding-top: toRem(7);
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
	// *Тут даем min-width: 100%; чтобы полоса которая заполняет растянулась на 100% допустимой ширины как минимум
	position: relative;
	min-width: 100%;
	overflow: hidden;
	z-index: 0;
	height: toRem(6);
	background-color: #f0f0f0;
	border-radius: toRem(20);
}

.noUi-base {
	// * Добавляем margin-inline с размер половины тригерной ручки
	margin-inline: toRem(10);
}
.noUi-connects {
	// * Добавляем margin-inline отрицательный с размер половины тригерной ручки
	margin-inline: toRem(-10);
}

.noUi-handle {
	// * Добавляем right отрицательный с размер половины тригерной ручки
	background-color: var(--bg-accent);
	border-radius: 50%;
	width: toRem(20);
	height: toRem(20);
	right: toRem(-10);
	top: 0;
	cursor: pointer;
}

.noUi-connect,
.noUi-origin {
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transform-origin: 0 0;
	transform-style: flat;
}

.noUi-connect {
	height: toRem(6);
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
	left: 0;
	right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-horizontal .noUi-origin {
	height: 0;
}
.noUi-handle {
	backface-visibility: hidden;
	position: absolute;
}
.noUi-touch-area {
	height: 100%;
	width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	transition: transform 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: toRem(40);
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
	// left: -17px;
	// right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
}

.noUi-connect {
	background-color: var(--bg-accent);
}
/* Handles and cursors;
 */
.noUi-draggable {
	cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}

/* Handle stripes;
 */

/* Disabled state;
 */
[disabled] .noUi-connect {
	background: #b8b8b8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
	box-sizing: border-box;
}
.noUi-pips {
	position: absolute;
	color: #999;
}
/* Values;
 *
 */
.noUi-value {
	position: absolute;
	white-space: nowrap;
	text-align: center;
}
.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

.noUi-pips-horizontal {
	padding: 10px 0;
	height: 80px;
	top: 100%;
	left: 0;
	width: 100%;
}
.noUi-value-horizontal {
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
	-webkit-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 2px;
	height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}

.noUi-tooltip {
	display: block;
	position: absolute;
	background-color: #fff;
	color: #000;
	padding: toRem(6) toRem(5) 0;
	text-align: center;
	white-space: nowrap;
}
.noUi-tooltip {
	transform: translate(-50%, 0);
	left: 50%;
	top: 100%;
	color: var(--bg-accent);
	font-size: toRem(14);
	font-weight: 500;
}
