// <RATING>
// Сніппет (HTML): rating
// Rating
// $star: "@img/icons/star.svg";
// $starActive: "@img/icons/star.svg";
// $starGap: toRem(4);
// $starWidth: toRem(21);
// $starHeight: toRem(21);

// .rating {
// 	display: inline-block;
// 	line-height: 0;
// 	// .rating__items
// 	&__items {
// 		display: inline-flex;
// 		align-items: flex-start;
// 		gap: $starGap;
// 		[data-rating="set"] & {
// 			@media (any-hover: hover) {
// 				&:hover {
// 					.rating__item {
// 						background: url($starActive) 0 0 / $starWidth no-repeat;
// 					}
// 				}
// 			}
// 		}
// 	}
// 	// .rating__item
// 	&__item {
// 		flex: 0 0 $starWidth;
// 		width: $starWidth;
// 		height: $starHeight;
// 		position: relative;
// 		background: url($star) 0 0 / $starWidth no-repeat;
// 		transition: all 0.3s;
// 		&--active {
// 			display: inline-block;
// 			background: url($starActive) 0 0 / $starWidth no-repeat;
// 		}
// 		span {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 0%;
// 			height: $starHeight;
// 			background-color: black;
// 			// background: url($starActive) 0 0 / $starWidth no-repeat;
// 		}
// 		&:not(:last-child) {
// 			&::after {
// 				content: "";
// 				position: absolute;
// 				right: 0;
// 				top: 0;
// 				height: 100%;
// 				width: $starGap;
// 				transform: translateX(100%);
// 				[data-rating="set"] & {
// 					cursor: pointer;
// 				}
// 			}
// 		}
// 		[data-rating="set"] & {
// 			@media (any-hover: hover) {
// 				&:hover {
// 					~ .rating__item {
// 						background: url($star) 0 0 / $starWidth no-repeat;
// 						span {
// 							display: none;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// 	// .rating__input
// 	&__input {
// 		width: 100%;
// 		height: 100%;
// 		opacity: 0;
// 		display: block;
// 		[data-rating="set"] & {
// 			cursor: pointer;
// 		}
// 	}
// }

// .rating {
// 	display: flex;
// 	align-items: center;
// 	column-gap: toRem(13);
// 	// .rating__body
// 	&__body {
// 		width: toRem(136);
// 		overflow: hidden;
// 		flex-shrink: 0;
// 	}
// 	// .rating__image
// 	&__image {
// 		width: toRem(134);
// 	}
// 	// .rating__value
// 	&__value {
// 		color: var(--text-accent);
// 		font-size: toRem(14);
// 		span {
// 			color: rgba(0, 0, 0, 0.6);
// 		}
// 	}
// }

.rating {
	display: flex;
	align-items: center;
	column-gap: toRem(13);
	// .rating__body
	&__body {
		display: flex;
		column-gap: toRem(6);
	}
	// .rating__star
	&__star {
		position: relative;
		width: toRem(21);
		height: toRem(21);
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			width: toRem(21);
			height: 100%;
			top: 0;
			left: 0;
			background: url("@img/icons/star.svg") center / toRem(21) no-repeat;
		}
	}
	// .rating__value
	&__value {
		color: var(--text-accent);
		font-size: toRem(14);
		span {
			color: rgba(0, 0, 0, 0.6);
		}
	}
}
