// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;

	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		border-radius: toRem(62);
		min-width: toRem(120);
		background-color: #f0f0f0;
		cursor: pointer;
		width: 100%;

		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #dad9d9;
			}
		}
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		justify-content: center;
		padding: toRem(16) toRem(25) toRem(16) toRem(20);
		gap: toRem(21);

		// > * {
		// 	flex: 1 1 auto;
		// }
		&:after {
			font-family: "icons";
			content: "\e913";
			flex-shrink: 0;
			font-size: toRem(12);
			transform: rotate(90deg);
			transition: transform 0.15s;
			._select-open & {
				transform: rotate(-90deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__content
	&__content {
		// flex: 1 1 auto;
		overflow: hidden;
		color: var(--text-accent);
		font-weight: 500;
		// text-overflow: ellipsis;
		// white-space: nowrap;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		position: absolute;
		top: calc(100% + toRem(5));
		min-width: 100%;
		left: 0;
		background-color: #f0f0f0;
		border-top: 0;
		padding: toRem(7) 0;
		border-radius: toRem(8);
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: toRem(7) toRem(20);
		color: inherit;
		transition: background-color 0.3s;
		color: var(--text-accent);
		font-weight: 500;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #d9d9d9;
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% + toRem(5));
		}
	}

	// Стан селекту
	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
