// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		border-radius: toRem(62);
		cursor: pointer;
		width: 100%;
		transition: background-color 0.3s;
		.select:not(.select_popular) & {
			@media (any-hover: hover) {
				&:hover {
					background-color: #dad9d9;
				}
			}
		}
		.select_popular & {
			@media (any-hover: hover) {
				&:hover {
					.select__content {
						color: #022bc0;
					}
				}
			}
		}
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		justify-content: center;
		padding: toRem(16) toRem(25) toRem(16) toRem(20);
		column-gap: toRem(26);
		min-width: toRem(121);
		&:after {
			font-family: "icons";
			content: "\e913";
			flex-shrink: 0;
			font-size: toRem(12);
			transform: rotate(90deg);
			transition: transform 0.15s;
			._select-open & {
				transform: rotate(-90deg);
			}
		}
		.select_popular & {
			padding: 0;
			column-gap: toRem(4);
			min-width: toRem(116);
			justify-content: flex-end;
			&::after {
				width: toRem(16);
				aspect-ratio: 1;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		@media (max-width: toEm(700)) {
			padding-block: toRem(12);
			column-gap: toRem(15);
			min-width: toRem(115);
		}
	}
	// .select__content
	&__content {
		overflow: hidden;
		color: var(--text-accent);
		font-weight: 500;
		.select_popular & {
			transition: color 0.3s;
		}
		@media (max-width: toEm(700)) {
			font-size: toRem(14);
		}
	}
	// .select__options
	&__options {
		position: absolute;
		top: calc(100% + toRem(5));
		min-width: 100%;
		left: 0;
		background-color: #f0f0f0;
		border-top: 0;
		padding: toRem(7) 0;
		border-radius: toRem(8);
		.select_popular & {
			left: auto;
			right: 0;
			min-width: toRem(140);
			background-color: var(--bg-accent);
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: toRem(7) toRem(20);
		color: inherit;
		transition: background-color 0.3s;
		color: var(--text-accent);
		font-weight: 500;
		&._select-selected {
			background-color: #eee;
		}
		.select_popular & {
			text-align: center;
			color: var(--text-inverse);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #d9d9d9;
			}
			.select_popular & {
				&:hover {
					background-color: rgba(255, 255, 255, 0.3);
				}
			}
		}
		@media (max-width: toEm(700)) {
			font-size: toRem(14);
		}
	}
}
