.catalog {
	// .catalog__navigation
	&__navigation {
	}
	// .catalog__body
	&__body {
	}
}

.body-catalog {
	// .body-catalog__container
	&__container {
		display: flex;
		align-items: flex-start;
		column-gap: toRem(20);
	}
	// .body-catalog__sidebar
	&__sidebar {
		flex: 0 0 toRem(295);
	}
	// .body-catalog__content
	&__content {
		flex: 1 1 auto;
	}
}
.sidebar-catalog {
	border-radius: toRem(20);
	border: toRem(1) solid rgba(0, 0, 0, 0.1);
	padding: toRem(20) toRem(22) toRem(29);
	// .sidebar-catalog__title
	&__title {
		color: var(--text-accent);
		font-size: toRem(20);
		font-weight: 700;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		column-gap: toRem(15);
		transition: color 0.3s;
		&::before {
			flex-shrink: 0;
			transition: transform 0.4s;
			font-size: toRem(12);
			transform: rotate(90deg);
			will-change: transform;
			width: toRem(16);
			aspect-ratio: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&._spoller-active {
			&::before {
				transform: rotate(-90deg);
			}
		}
		&:not(.sidebar-catalog__title--main) {
			cursor: pointer;
			@media (any-hover: hover) {
				&:hover {
					color: #022bc0;
				}
			}
		}
		// .sidebar-catalog__title--main
		&--main {
			align-items: flex-start;
			&::before {
				font-size: toRem(19);
				color: rgba(0, 0, 0, 0.4);
			}
			&:not(:last-child) {
				margin-bottom: toRem(24);
			}
		}
	}
	&__wrap {
		padding-top: toRem(20);
	}
	// .sidebar-catalog__line
	&__line,
	&__item {
		padding-block: toRem(24);
		border-top: toRem(1) solid rgba(0, 0, 0, 0.1);
	}
	// .sidebar-catalog__link
	&__link {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		column-gap: toRem(15);
		align-items: center;
		line-height: 1.4;
		color: var(--text-primary);
		&::before {
			flex-shrink: 0;
			width: toRem(16);
			aspect-ratio: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: toRem(12);
			transition: transform 0.3s;
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(toRem(4), 0);
				}
			}
		}
	}
	// .sidebar-catalog__options
	&__options {
	}
	// .sidebar-catalog__item
	&__item {
	}
	// .sidebar-catalog__content
	&__content {
		&:has(.range) {
			// padding: toRem(8) 0 toRem(26);
		}
	}
	// .sidebar-catalog__range
	&__range {
	}
	// .sidebar-catalog__colors
	&__colors {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(16);
	}
	// .sidebar-catalog__color
	&__color {
	}
	// .sidebar-catalog__sizes
	&__sizes {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(8);
	}
	// .sidebar-catalog__size
	&__size {
	}
	// .sidebar-catalog__button
	&__button {
		width: 100%;
		padding-block: toRem(13);
		min-height: toRem(48);
	}
}

// .content-catalog ========================================================================================================================================================
.content-catalog {
	// .content-catalog__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(20);
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .content-catalog__title
	&__title {
		color: var(--text-accent);
		font-size: toRem(32);
		font-weight: 700;
	}
	// .content-catalog__actions
	&__actions {
		display: flex;
		column-gap: toRem(12);
	}
	// .content-catalog__text
	&__text {
		color: var(--text-primary);
	}
	// .content-catalog__form
	&__form {
		display: flex;
		column-gap: toRem(4);
		.select {
			flex-shrink: 0;
		}
	}
	// .content-catalog__label
	&__label {
		color: rgba(0, 0, 0, 0.6);
	}
	// .content-catalog__goods
	&__goods {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(290), 1fr));
		column-gap: toRem(20);
		row-gap: toRem(36);
		padding-bottom: toRem(32);
		border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .content-catalog__pagination
	&__pagination {
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: toRem(8);

	// .pagination__button
	&__button {
		padding: toRem(7) toRem(14);
		display: flex;
		border-radius: toRem(8);

		column-gap: toRem(8);
		justify-content: center;
		align-items: center;
		border: toRem(1) solid rgba(0, 0, 0, 0.1);
		color: var(--text-accent);
		font-size: toRem(14);
		font-weight: 500;
		line-height: 142%;
		transition: background-color 0.3s;
		&::before {
			flex-shrink: 0;
			width: toRem(20);
			aspect-ratio: 1;
			font-size: toRem(12);
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(0, 0, 0, 0.06);
				&::before {
					transform: translate(toRem(-2), 0);
				}
			}
		}
		// .pagination__button--prev
		&--prev {
		}
		// .pagination__button--next
		&--next {
			flex-direction: row-reverse;
			&::before {
				transform: rotate(180deg);
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						transform: translate(toRem(2), 0) rotate(180deg);
					}
				}
			}
		}
	}
	// .pagination__pages
	&__pages {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: toRem(2);
	}
	// .pagination__page
	&__page {
		width: toRem(40);
		aspect-ratio: 1;
		flex-shrink: 0;
		border-radius: toRem(8);
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
		font-size: toRem(14);
		font-weight: 500;
		line-height: 1.42;
		transition:
			color 0.3s,
			background-color 0.3s;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(0, 0, 0, 0.06);
				color: var(--text-accent);
			}
		}
		&.--active {
			background-color: rgba(0, 0, 0, 0.06);
			color: var(--text-accent);
		}
	}
}
