// Заголовки, загальні БЕМ блоки та інше...
.title {
	color: var(--text-accent);
	font-family: $fontAccent;
	font-weight: 700;
	@include adaptiveValue("font-size", 48, 32, 0, $containerWidth, 480);
	// .title--main
	&--main {
		@include adaptiveValue("font-size", 64, 36, 0, $containerWidth, 700);
		@media (max-width: $mobile) {
			font-size: toRem(45);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(36);
		}
		@media (max-width: toEm(375)) {
			font-size: toRem(30);
		}
	}
}

.text {
	color: var(--text-primary);
	line-height: 1.37;
	p:not(:last-child) {
		margin-bottom: toRem(7);
	}
}
