//====================================================================================================
.promo {
	background-color: #f2f0f1;
	// .promo__container
	&__container {
		@media (min-width: $mobile) {
			display: flex;
			justify-content: space-between;
			column-gap: toRem(30);
		}
		@media (max-width: $mobile) {
			display: grid;
		}
	}
	// .promo__content
	&__content {
		@include adaptiveValue("padding-top", 103, 30, 0, $containerWidth, 768);
		@media (min-width: $mobile) {
			flex: 0 1 toRem(600);
			padding-bottom: toRem(30);
		}
		@media (max-width: $mobile) {
			padding-top: toRem(40);
		}
		@media (max-width: toEm(389.98)) {
			padding-top: toRem(30);
		}
		& > * {
			margin-bottom: toRem(32);
			@media (max-width: $tablet) {
				margin-bottom: toRem(22);
			}
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// .promo__title
	&__title {
	}
	// .promo__text
	&__text {
	}
	// .promo__link
	&__link {
		min-width: toRem(210);
		@media (min-width: $tablet) {
			margin-bottom: toRem(48);
		}
	}
	// .promo__info
	&__info {
	}
	// .promo__picture
	&__picture {
		padding-top: toRem(35);
		position: relative;
		margin-right: toRem(-30);
		@media (min-width: $mobile) {
			flex: 0 1 toRem(620);
			align-self: flex-end;
		}
		@media (max-width: $mobile) {
			max-width: toRem(500);
			justify-self: center;
			margin-inline: toRem(-45) toRem(-30);
		}
		@media (max-width: toEm(500)) {
		}
	}
	// .promo__decoration
	&__decoration {
		position: absolute;
		width: percent(104, 620);
		aspect-ratio: 1;
		top: percent(80, 648);
		right: toRem(10);
		@media (max-width: toEm(1320)) {
			right: toRem(35);
		}
		// .promo__decoration--small
		&--small {
			width: percent(56, 620);
			right: auto;
			left: 0;
			top: percent(280, 648);
			@media (max-width: $mobile) {
				top: percent(210, 648);
				left: toRem(45);
			}
		}
	}
	// .promo__img
	&__img {
		width: 100%;
	}
}

.info-promo {
	@media (min-width: toEm(390)) {
		display: flex;
		row-gap: toRem(20);
	}
	@media (max-width: toEm(1250)) {
		flex-wrap: wrap;
	}
	@media (max-width: toEm(560)) {
		justify-content: center;
		max-width: toRem(400);
		margin: 0 auto;
	}
	@media (max-width: toEm(389.98)) {
		text-align: center;
	}
	// .info-promo__item
	&__item {
		padding-inline: toRem(32);
		@media (max-width: toEm(1250)) {
			padding-inline: toRem(20);
		}
		&:not(:last-child) {
			border-right: toRem(1) solid #0000001a;
		}
		&:first-child {
			padding-left: 0;
		}
		&:nth-child(2) {
			@media (max-width: toEm(1250)) and (min-width: $mobile), (max-width: toEm(560)) {
				padding-right: 0;
				border-right: none;
			}
		}
		&:last-child {
			padding-right: 0;
			@media (max-width: toEm(1250)) and (min-width: $mobile) {
				flex-basis: 100%;
				padding-left: 0;
			}

			@media (max-width: toEm(560)) {
				padding-left: 0;
			}
		}
		@media (max-width: toEm(389.98)) {
			padding-inline: 0;
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}
	// .info-promo__value
	&__value {
		color: var(--text-accent);
		font-size: toRem(40);
		font-weight: 700;
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		@media (max-width: $tablet) {
			font-size: toRem(30);
		}
	}
	// .info-promo__label
	&__label {
		color: var(--text-primary);
		line-height: 1.37;
	}
}

//====================================================================================================
