.product {
	// .product__navigation
	&__navigation {
	}
	// .product__about
	&__about {
	}
	// .product__tabs
	&__tabs {
		padding-block: toRem(40) toRem(32);
		@media (max-width: $tablet) {
			padding-block: toRem(25);
		}
		@media (max-width: toEm(389.98)) {
			padding-block: toRem(17);
		}
	}
	// .product__block-cloth
	&__block-cloth {
		.block-cloth__container {
			padding-top: toRem(32);
			@media (max-width: $tablet) {
				padding-block: toRem(25) toRem(60);
			}
			@media (max-width: $mobile) {
				padding-bottom: toRem(50);
			}
			@media (max-width: toEm(389.98)) {
				padding-block: toRem(17) toRem(35);
			}
		}
	}
}

.about-product {
	padding-bottom: toRem(40);
	@media (max-width: $tablet) {
		padding-bottom: toRem(25);
	}
	@media (max-width: toEm(389.98)) {
		padding-bottom: toRem(17);
	}
	// .about-product__container
	&__container {
		@media (min-width: $tablet) {
			display: flex;
			column-gap: toRem(30);
			align-items: flex-start;
			justify-content: space-between;
		}
	}
	// .about-product__preview
	&__preview {
		@media (min-width: $tablet) {
			min-width: 0;
			flex: 0 1 toRem(610);
			min-width: toRem(500);
		}
	}
	// .about-product__content
	&__content {
		flex: 0 1 toRem(600);
		padding-top: toRem(5);
		& > * {
			margin-bottom: toRem(19);
			@media (max-width: $tablet) {
				margin-bottom: toRem(16);
			}
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// .about-product__title
	&__title {
	}
	// .about-product__rating
	&__rating {
		.rating__body {
			@media (min-width: $tablet) {
				column-gap: toRem(7);
			}
		}
		.rating__value {
			font-size: toRem(16);
			@media (max-width: $mobile) {
				font-size: toRem(14);
			}
		}
	}
	// .about-product__prices
	&__prices {
		@media (min-width: $tablet) {
			column-gap: toRem(12);
		}
	}
	// .about-product__text
	&__text {
		margin-bottom: toRem(18);
	}
	// .about-product__form
	&__form {
	}
}
.preview-product {
	display: flex;
	column-gap: toRem(14);
	// .preview-product__sub-slider
	&__sub-slider {
		@media (min-width: $tablet) {
			flex: 0 1 toRem(152);
		}
	}
	// .preview-product__main-slider
	&__main-slider {
		@media (min-width: $tablet) {
			flex: 0 1 toRem(444);
		}
	}
	@media (max-width: $tablet) {
		flex-direction: column-reverse;
		row-gap: toRem(12);
		max-width: toRem(600);
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
}

.form-product {
	// .form-product__line
	&__line {
		padding-block: toRem(21) toRem(23);
		border-top: toRem(1) solid rgba(0, 0, 0, 0.1);
		&:last-child {
			padding-bottom: 0;
		}
		&--flex {
			display: flex;
			align-items: center;
			column-gap: toRem(20);
			padding-top: toRem(23);
			@media (max-width: toEm(600)) {
				column-gap: toRem(12);
			}
		}
	}
	// .form-product__title
	&__title {
		color: var(--text-primary);
		&:not(:last-child) {
			margin-bottom: toRem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(14);
		}
	}
	// .form-product__colors
	&__colors {
		display: flex;
		gap: toRem(16);
		flex-wrap: wrap;
		@media (max-width: toEm(600)) {
			gap: toRem(12);
		}
	}
	// .form-product__color
	&__color {
	}
	// .form-product__sizes
	&__sizes {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(12);
		@media (max-width: toEm(600)) {
			gap: toRem(8);
		}
	}
	// .form-product__size
	&__size {
	}
	// .form-product__quantity
	&__quantity {
		flex-shrink: 0;
	}
	// .form-product__button
	&__button {
		@media (min-width: $tablet), (max-width: toEm(600)) {
			flex-grow: 1;
		}
		@media (max-width: $tablet) and (min-width: toEm(601)) {
			min-width: toRem(250);
		}

		@media (max-width: toEm(600)) {
			padding-block: toRem(11.7);
		}
	}
}

//========================================================================================================================================================

.body-reviews {
	// .body-reviews__header
	&__header {
		&:not(:last-child) {
			margin-bottom: toRem(24);
			@media (max-width: $mobile) {
				margin-bottom: toRem(20);
			}
		}
	}
	// .body-reviews__items
	&__items {
		@media (min-width: toEm(701)) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: toRem(20);
		}
		&:not(:last-child) {
			margin-bottom: toRem(36);
			@media (max-width: $mobile) {
				margin-bottom: toRem(20);
			}
		}
	}
	// .body-reviews__item
	&__item {
		@media (max-width: toEm(700)) {
			&:not(:last-child) {
				margin-bottom: toRem(16);
			}
		}
	}
	// .body-reviews__more
	&__more {
		display: flex;
		margin: 0 auto;
		padding-inline: toRem(44);
	}
}
.header-body-reviews {
	@media (min-width: toEm(390)) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(25);
	}
	// .header-body-reviews__content
	&__content {
		display: flex;
		column-gap: toRem(8);
		align-items: center;
		@media (max-width: toEm(389.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}
	// .header-body-reviews__title
	&__title {
		color: var(--text-accent);
		font-size: toRem(24);
		font-weight: 700;
		@media (max-width: toEm(700)) {
			font-size: toRem(20);
		}
	}
	// .header-body-reviews__quantity
	&__quantity {
		margin-top: toRem(3);
		color: var(--text-primary);
		@media (max-width: toEm(700)) {
			font-size: toRem(14);
		}
	}
	// .header-body-reviews__actions
	&__actions {
		display: flex;
		align-items: center;
		column-gap: toRem(10);
		flex-shrink: 0;
	}
	// .header-body-reviews__options
	&__options {
		width: toRem(48);
		flex-shrink: 0;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: #f0f0f0;
		font-size: toRem(19);
		color: var(--text-accent);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #dad9d9;
			}
		}
		@media (max-width: toEm(700)) {
			width: toRem(40);
			font-size: toRem(16);
		}
	}
	.select {
		display: none;
		@media (min-width: toEm(650)) {
			display: block;
		}
	}
	// .header-body-reviews__write-review
	&__write-review {
		padding-block: toRem(13);
		min-height: toRem(48);
		@media (max-width: toEm(700)) {
			min-height: toRem(40);
			padding-block: toRem(9);
			padding-inline: toRem(16);
			font-size: toRem(12);
		}
	}
}
